html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "segoe";
  src: url('../fonts/../fonts/segoeui.ttf') format('truetype');
}

@font-face {
  font-family: "segoeb";
  src: url('../fonts/../fonts/segoeuib.ttf') format('truetype');
}

@font-face {
  font-family: "caviar";
  src: url('../fonts/../fonts/CaviarDreams.ttf') format('truetype');
}

@font-face {
  font-family: "tripicto";
  src: url('../fonts/../fonts/Tripicto.eot');
  src: url('../fonts/../fonts/Tripicto.eot?#iefix') format('eot'), url('../fonts/../fonts/Tripicto.ttf') format('truetype');
}

body .wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
body .section {
  height: 400px;
  width: 100%;
}

html.not-front body {
  background-color: #2980b9;
}

#wrapper-960 {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ecf0f1;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
}
#wrapper-960 .sidebar {
  width: 280px;
  height: 450px;
  display: inline-block;
  vertical-align: top;
  background-color: #2980b9;
  color: #ecf0f1;
  margin-right: 40px;
  margin-bottom: 50px;
}
#wrapper-960 .sidebar h2 {
  margin: 30px 30px 30px 30px;
  font-size: 26px;
  font-family: "segoe";
  line-height: 28px;
  font-weight: bold;
}
#wrapper-960 .sidebar p {
  display: none;
}
#wrapper-960 .sidebar .picto {
  width: 190px;
  height: 40px;
  display: inline-block;
  margin: 0px 30px 20px 30px;
}
#wrapper-960 .sidebar .picto select {
  padding-left: 50px;
  font-family: "segoe";
  font-size: 21px;
  color: #2980b9;
  width: 190px;
  height: 40px;
  border: none;
}
#wrapper-960 .sidebar .picto-date-depart:before {
  font-family: "tripicto";
  font-size: 30px;
  color: #2980b9;
  position: relative;
  z-index: 2;
  content: "\e602";
  left: 10px;
  top: 35px;
}
#wrapper-960 .sidebar .picto-place-depart:before {
  font-family: "tripicto";
  font-size: 30px;
  color: #2980b9;
  position: relative;
  z-index: 2;
  content: "\e605";
  left: 10px;
  top: 35px;
}
#wrapper-960 .sidebar .picto-date-arrivee:before {
  font-family: "tripicto";
  font-size: 30px;
  color: #2980b9;
  position: relative;
  z-index: 2;
  content: "\e602";
  left: 10px;
  top: 35px;
}
#wrapper-960 .sidebar .picto-place-arrivee:before {
  font-family: "tripicto";
  font-size: 30px;
  color: #2980b9;
  position: relative;
  z-index: 2;
  content: "\e605";
  left: 10px;
  top: 35px;
}
#wrapper-960 .sidebar input[type=submit] {
  width: 145px;
  height: 40px;
  line-height: 40px;
  background-color: #f39c12;
  color: white;
  font-size: 21px;
  margin-top: 30px;
  margin-left: 40%;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
}
#wrapper-960 .main-content {
  width: 630px;
  display: inline-block;
  vertical-align: top;
}
#wrapper-960 .main-content h1 {
  font-size: 35px;
  font-family: "segoe";
  color: #2980b9;
  margin-bottom: 25px;
}
#wrapper-960 .main-content .inter-description {
  font-size: 18px;
  color: #2980b9;
  line-height: 20px;
  font-family: "segoe";
  text-align: justify;
  margin-bottom: 40px;
  display: inline-block;
}
#wrapper-960 .main-content .inter-description p {
  margin-bottom: 10px;
}
#wrapper-960 .main-content .inter-description .search-city {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}
#wrapper-960 .main-content .main-informations {
  font-family: "segoe";
  color: #2980b9;
}
#wrapper-960 .main-content .main-informations .main-information-image {
  width: 250px;
  height: 190px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
#wrapper-960 .main-content .main-informations .main-information-image img {
  height: 190px;
  width: auto;
}
#wrapper-960 .main-content .main-informations .main-information-content {
  width: 375px;
  height: 190px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
#wrapper-960 .main-content .main-informations .main-information-content .date {
  margin-left: 30px;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  display: block;
}
#wrapper-960 .main-content .main-informations .main-information-content .categories {
  margin-left: 30px;
  margin-bottom: 20px;
}
#wrapper-960 .main-content .main-informations .main-information-content .categories b {
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
}
#wrapper-960 .main-content .main-informations .main-information-content .categories .category {
  font-size: 14px;
  border: 1px solid #1abc9c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #1abc9c;
  padding: 3px;
  color: #ecf0f1;
  margin-left: 3px;
}
#wrapper-960 .main-content .main-informations .main-information-content .city {
  font-size: 20px;
  margin-left: 30px;
  display: block;
}
#wrapper-960 .main-content .main-informations .main-information-content .stars {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  margin-left: 30px;
}
#wrapper-960 .main-content .main-informations .main-information-content .capacity {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  margin-left: 30px;
}
#wrapper-960 .main-content .main-informations .main-information-content .duration {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  margin-left: 30px;
}
#wrapper-960 .main-content .main-informations .main-information-content .add-to-cart {
  position: absolute;
  bottom: 10px;
  margin-left: 30px;
}
#wrapper-960 .main-content .main-informations .main-information-content .add-to-cart .price {
  font-size: 22px;
  display: inline-block;
  width: 205px;
}
#wrapper-960 .main-content .main-informations .main-information-content .add-to-cart a {
  color: #2980b9;
  text-decoration: none;
}
#wrapper-960 .main-content .list .list-item,
#wrapper-960 .main-content .secondary-informations .list-item {
  background-color: #2980b9;
  margin-bottom: 30px;
  height: 168px;
  font-family: "segoe";
  color: #ecf0f1;
}
#wrapper-960 .main-content .list .list-item .list-item-image,
#wrapper-960 .main-content .secondary-informations .list-item .list-item-image {
  width: 225px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
#wrapper-960 .main-content .list .list-item .list-item-image img,
#wrapper-960 .main-content .secondary-informations .list-item .list-item-image img {
  height: 168px;
  width: auto;
}
#wrapper-960 .main-content .list .list-item .list-item-info,
#wrapper-960 .main-content .secondary-informations .list-item .list-item-info {
  position: relative;
  width: 350px;
  height: 158px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  margin-top: 10px;
}
#wrapper-960 .main-content .list .list-item .list-item-info .list-item-title,
#wrapper-960 .main-content .secondary-informations .list-item .list-item-info .list-item-title {
  font-size: 22px;
  margin-bottom: 10px;
}
#wrapper-960 .main-content .list .list-item .list-item-info .list-item-city,
#wrapper-960 .main-content .secondary-informations .list-item .list-item-info .list-item-city {
  font-size: 18px;
  margin-bottom: 10px;
}
#wrapper-960 .main-content .list .list-item .list-item-info .list-item-description,
#wrapper-960 .main-content .secondary-informations .list-item .list-item-info .list-item-description {
  font-size: 14px;
  line-height: 20px;
}
#wrapper-960 .main-content .list .list-item .list-item-info .list-item-price,
#wrapper-960 .main-content .secondary-informations .list-item .list-item-info .list-item-price {
  font-size: 25px;
  position: absolute;
  bottom: 10px;
  right: 45%;
}
#wrapper-960 .main-content .list .list-item .list-item-info a,
#wrapper-960 .main-content .secondary-informations .list-item .list-item-info a {
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #ecf0f1;
}
#wrapper-960 .main-content .secondary-informations {
  margin-top: 30px;
}
#wrapper-960 .main-content .secondary-informations h2 {
  font-size: 20px;
  color: #2980b9;
  font-family: "segoe";
  margin-bottom: 20px;
}
#wrapper-960 .main-content .secondary-informations h3 {
  font-size: 18px;
  color: #2980b9;
  font-family: "segoe";
  margin-bottom: 10px;
}
#wrapper-960 .main-content .secondary-informations p {
  margin-bottom: 10px;
  color: #2980b9;
  font-family: "segoe";
  margin-left: 10px;
}

#header .header-nav {
  height: 80px;
  width: 100%;
  background-color: #2980b9;
  font-family: "segoe";
  font-size: 34px;
  color: white;
  border-bottom: solid white 10px;
}
#header .header-nav .logo {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 165px;
  height: 145px;
  padding-left: 5px;
  padding-top: 10px;
}
#header .header-nav .header-menu {
  margin-left: 20px;
  width: 760px;
  height: 80px;
  display: inline-block;
  vertical-align: top;
}
#header .header-nav .header-menu li {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 190px;
  height: 80px;
  line-height: 80px;
}
#header .header-nav .header-menu li a {
  display: block;
  text-decoration: none;
  color: white;
}
#header .header-nav .header-menu li.cart, #header .header-nav .header-menu li.user {
  width: 50px;
  cursor: pointer;
}
#header .header-nav .header-menu li.cart:before {
  font-family: "tripicto";
  content: "\e603";
}
#header .header-nav .header-menu li.user:before {
  font-family: "tripicto";
  content: "\e600";
}
#header .slider {
  height: 500px;
  overflow: hidden;
  width: 100%;
  background-color: #2980b9;
}

#header-slider .owl-controls {
  position: relative;
  top: -50px;
}

#section-1 {
  background-color: #ecf0f1;
  padding-top: 40px;
}
#section-1 .block-reservation {
  width: 445px;
  background-color: #2980b9;
  padding-top: 20px;
  padding-left: 30px;
  font-family: "segoe";
  display: inline-block;
  vertical-align: top;
}
#section-1 .block-reservation h2 {
  font-weight: bold;
  font-size: 26px;
  color: white;
  margin-bottom: 10px;
}
#section-1 .block-reservation p {
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
  width: 415px;
  font-style: italic;
}
#section-1 .block-reservation form {
  font-weight: bold;
}
#section-1 .block-reservation form .form-select-travel {
  margin-bottom: 20px;
}
#section-1 .block-reservation form .form-select-travel .picto {
  width: 190px;
  height: 40px;
  display: inline-block;
  margin-bottom: 20px;
}
#section-1 .block-reservation form .form-select-travel .picto select {
  width: 190px;
  height: 40px;
  font-size: 21px;
  border: none;
  color: #2980b9;
  padding-left: 45px;
  font-weight: bold;
}
#section-1 .block-reservation form .form-select-travel .picto select[name=start-date], #section-1 .block-reservation form .form-select-travel .picto select[name=end-date] {
  margin-left: 30px;
}
#section-1 .block-reservation form .form-select-travel .picto-date-depart:before {
  font-family: "tripicto";
  font-size: 30px;
  color: #2980b9;
  position: relative;
  z-index: 2;
  content: "\e602";
  left: 40px;
  top: 35px;
}
#section-1 .block-reservation form .form-select-travel .picto-place-depart:before {
  font-family: "tripicto";
  font-size: 30px;
  color: #2980b9;
  position: relative;
  z-index: 2;
  content: "\e605";
  left: 10px;
  top: 35px;
}
#section-1 .block-reservation form .form-select-travel .picto-date-arrivee:before {
  font-family: "tripicto";
  font-size: 30px;
  color: #2980b9;
  position: relative;
  z-index: 2;
  content: "\e602";
  left: 40px;
  top: 35px;
}
#section-1 .block-reservation form .form-select-travel .picto-place-arrivee:before {
  font-family: "tripicto";
  font-size: 30px;
  color: #2980b9;
  position: relative;
  z-index: 2;
  content: "\e605";
  left: 10px;
  top: 35px;
}
#section-1 .block-reservation form .form-select-number select {
  width: 215px;
  height: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  color: #2980b9;
}
#section-1 .block-reservation form input[type=submit] {
  width: 145px;
  height: 40px;
  line-height: 40px;
  background-color: #f39c12;
  color: white;
  font-size: 21px;
  margin-top: 20px;
  margin-left: 60%;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
}
#section-1 .home-text {
  width: 400px;
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  color: #2980b9;
  font-family: "segoe";
}
#section-1 .home-text h1 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}
#section-1 .home-text p {
  line-height: 26px;
  font-size: 22px;
  margin-bottom: 40px;
}

#section-2 {
  background-color: #1abc9c;
  padding-top: 20px;
  padding-left: 10px;
}
#section-2 h1 {
  font-size: 35px;
  font-family: "segoe";
  color: #ecf0f1;
  margin-bottom: 25px;
}
#section-2 .slider-travel-promo .item {
  width: 250px;
  margin-right: 70px;
  display: inline-block;
  vertical-align: top;
  font-family: "segoe";
}
#section-2 .slider-travel-promo .item a {
  text-decoration: none;
}
#section-2 .slider-travel-promo .item .promo-image {
  overflow: hidden;
  width: 250px;
  height: 185px;
}
#section-2 .slider-travel-promo .item .promo-image img {
  width: 250px;
  height: auto;
}
#section-2 .slider-travel-promo .item:nth-child(3) {
  margin-right: 0;
}
#section-2 .slider-travel-promo .item .slider-travel-promo-infos {
  height: 55px;
  background-color: #2980b9;
  padding-left: 20px;
  padding-top: 10px;
  color: #ecf0f1;
}
#section-2 .slider-travel-promo .item .slider-travel-promo-infos .titre {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 5px;
  display: block;
  color: #ecf0f1;
}
#section-2 .slider-travel-promo .item .slider-travel-promo-price {
  height: 30px;
  display: block;
  background-color: #ecf0f1;
  font-size: 22px;
  color: #2980b9;
  text-align: right;
  padding-right: 10px;
}
