<td style="width:150px"> 
	{% if object is not null %}
		<img src="{{ asset('uploads/' ~ object.getId ~ '.' ~ object.getUri) }}" title="{{ object.getTitle }}" style="width:150px"/>
	{% endif %}
</td>
