#wrapper-960{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: $gray;
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 32px;

	.sidebar{
		width: 280px;
		height: 450px;
		display: inline-block;
		vertical-align: top;
		background-color: $blue;
		color: $gray;
		margin-right: 40px;

		h2{
			margin: 30px 30px 30px 30px;
			font-size: 26px;
			font-family: "segoe";
			line-height: 28px;
			font-weight: bold;
		}

		p{
			display: none;
		}

		select{
			margin: 0px 30px 20px 30px;
			padding-left: 50px;
			font-family: "segoe";
			font-size: 21px;
			color: $blue;
			width: 190px;
			height: 40px;
			border: none;
		}

		input[type=submit]{
			width: 145px;
			height: 40px;
			line-height: 40px;
			background-color: $orange;
			color: white;
			font-size: 21px;
			margin-top: 20px;
			margin-left: 40%;
			margin-bottom: 15px;
			border: none;
		}
	}

	.main-content{
		width: 630px;
		display: inline-block;
		vertical-align: top;

		h1{
			font-size: 35px;
			font-family: "segoe";
			color: $blue;
			margin-bottom: 25px;
		}

		.inter-description{
			font-size: 18px;
			color: $blue;
			line-height: 20px;
			font-family: "segoe";
			text-align: justify;
			margin-bottom: 40px;
			display: inline-block;

			p{
				margin-bottom: 10px;
			}

			.search-city{
				font-weight: bold;
				display: inline-block;
				margin-bottom: 10px;
			}
		}

		.list{
			.list-item{
				background-color: $blue;
				margin-bottom: 30px;
				height: 168px;
				font-family: "segoe";
				color: $gray;

				.list-item-image{
					width: 225px;
					display: inline-block;
					vertical-align: top;
					overflow: hidden;

					img{
						height: 168px;
						width: auto;
					}
				}

				.list-item-info{
					position: relative;
					width:350px;
					height: 158px;
					display: inline-block;
					vertical-align: top;
					margin-left: 30px;
					margin-top: 10px;

					.list-item-title{
						font-size: 22px;
						margin-bottom: 10px;
					}
					.list-item-city{
						font-size: 18px;
						margin-bottom: 10px;
					}
					.list-item-description{
						font-size: 14px;
						line-height: 20px;
					}

					.list-item-price{
						font-size: 25px;
						position: absolute;
						bottom: 10px;
						right: 45%;
					}

					a{
						font-size: 18px;
						position: absolute;
						bottom: 10px;
						right: 10px;
						text-decoration: none;
						color: $gray;
					}
				}
			}
		}
	}
}