@import "compass/css3";
@import "compass/reset";

//-------------------------------------------------------------------------------------------
//							FONTS
//-------------------------------------------------------------------------------------------
	@include font-face("segoe", font-files("../fonts/segoeui.ttf"));
	@include font-face("segoeb", font-files("../fonts/segoeuib.ttf"));
	@include font-face("caviar", font-files("../fonts/CaviarDreams.ttf"));
	@include font-face("tripicto", font-files("../fonts/Tripicto.ttf"),"../fonts/Tripicto.eot");

//-------------------------------------------------------------------------------------------
//							COULEURS
//-------------------------------------------------------------------------------------------
	$blue: #2980b9;
	$green: #1abc9c;
	$orange: #f39c12;
	$gray: #ecf0f1;

//-------------------------------------------------------------------------------------------
//							MIXINS
//-------------------------------------------------------------------------------------------
	@import "mixins";
	
//-------------------------------------------------------------------------------------------
//							PAGES
//-------------------------------------------------------------------------------------------
	@import "general";
	@import "inter";

	//-------------------------------------------------------------------------------------------
	//							HEADER
	//-------------------------------------------------------------------------------------------
		@import "header";
	
	//-------------------------------------------------------------------------------------------
	//							HOME
	//-------------------------------------------------------------------------------------------
		@import "home";

	//-------------------------------------------------------------------------------------------
	//							FOOTER
	//-------------------------------------------------------------------------------------------	
		@import "footer";


