
<header id="header">
	<div class="header-nav">
		<div class="wrapper">
			<div class="logo"><img src="assets/img/logo.png" /></div>
			<ul class="header-menu">
				<li><a href="#">Voyages</a></li>
				<li><a href="#">Hôtels</a></li>
				<li><a href="#">Excursions</a></li>
				<li class="cart"></li>
				<li class="user"></li>
			</ul>
		</div>
	</div>
	<div class="slider">
		<img src="assets/img/slide3.png" />
	</div>
</header>
