{% extends "M2TIILTripBookerBundle::layout.html.twig" %}

{% block content %}
<div id="section-1" class="section">
		<div class="wrapper">

			<div class="block-reservation">
				<h2>Personnalisez votre voyage</h2>
				<form id="package-form-1">
					<div class="form-select-travel">
						<select type="text" name="start-place" value="Départ">
							<option value="0">Départ</option>
						</select>
						<select type="text" name="start-date" value=" Départ">
							<option value="0">Départ</option>
						</select>
						<select type="text" name="end-place" value="Destination">
							<option value="0">Destination</option>
						</select>
						<select type="text" name="end-date" value="Arrivée">
							<option value="0">Arrivée</option>
						</select>
					</div>
					<div class="form-select-number">
						<select name="select-number">
							<option value="1">1 personne</option>
							<option value="2">2 personne</option>
							<option value="3">3 personne</option>
							<option value="4">4 personne</option>
							<option value="5">5 personne</option>
							<option value="6">6 personne</option>
							<option value="7">7 personne</option>
							<option value="8">8 personne</option>
							<option value="9">9 personne</option>
							<option value="10">10 personne</option>
						</select>
					</div>
					<input type="submit" value="Personnaliser" />
				</form>
			</div>

			<div class="home-text">
				<h1>Simple et Rapide</h1>
				<p>Tripbooker vous permet de planifier et de réserver vos voyages en seulement quelques clics.</p>
				<h1>Personnalisable</h1>
				<p>Avec Tripbooker, trouver les vacances de vos rêves sans contraintes, Choisissez votre Hôtel et vos Excursions pour toutes les périodes de l’année.</p>
			</div>
		</div>
	</div>
	<div id="section-2" class="section">
		<div class="wrapper">
			<h1>Packs Premium</h1>

			<ul class="slider-travel-promo">
				{% for pack in packs %}
					<li> 
						<img src="assets/img/fairbank.png" />
						<div class="slider-travel-promo-infos">
							<span class="titre">{{ pack.titre }}</span>
							<span class="date">{{ pack.date }}</span>
						</div>
						<span class="slider-travel-promo-price">{{ pack.price }}</span>
					</li>
				{% else %}
					<li>Pas de Pack trouvé.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}